 <%= form_with url: movies_path, method: :get do |form| %>
    <%= form.text_field :query_text, value: params[:query_text], placeholder: t('.query_text'), class:"w-full my-2 rounded-2xl border-gray-200", onChange: 'this.form.requestSubmit()' %>
    <div class="flex gap-2">
    <%= form.number_field :min_year, value: params[:min_year], placeholder: t('.min_year'), class:"w-1/3 rounded-2xl border-gray-200", onChange: 'this.form.requestSubmit()' %>
    <%= form.number_field :max_year, value: params[:max_year], placeholder: t('.max_year'), class: "w-1/3 rounded-2xl border-gray-200", onChange: 'this.form.requestSubmit()' %>
    <%= form.select :order_by, options_for_select(Movie::ORDER_BY.map { |key, value| [t(".#{key}"), key] } , params[:order_by]), {}, {onChange:'this.form.requestSubmit()', class: "w-1/3 rounded-2xl border-gray-200"} %>
    </div>
  <% end %>