<div>
  <%= link_to t('.all'), movies_path %>
  <% @categories.each do |category| %>
    <%= link_to category.name, movies_path(category_id: category.id) %>
  <% end %>
</div>
<div>
  <%= form_with url: movies_path, method: :get do |form| %>
    <%= form.number_field :min_year, value: params[:min_year], placeholder: t('.min_year'), onChange: 'this.form.requestSubmit()' %>
    <%= form.number_field :max_year, value: params[:max_year], placeholder: t('.max_year'), onChange: 'this.form.requestSubmit()' %>
    <% end %>
</div>
<% @movies.each do |movie| %>
<div>
  <div class="movie">
    <p><%= movie.title %></p>
    <p><%= movie.original_title %></p>
    <p><%= movie.overview %></p>
    <p><%= image_tag movie.poster_path.blank? ? 'Image-not-found.png': movie.poster_path, style: 'height:400px; width:auto;' %></p>
    <p><%= movie.original_language %></p>
    <p><%= movie.release_date %></p>
    <p><% movie.categories.each do |category| %>
        <%= category.name %> 
      <% end %>
    </p>
  </div>
  <%= link_to t('common.edit'), edit_movie_path(movie) %>
</div>
<% end %>