<%= turbo_frame_tag "home" do %>
  <%= render partial: 'filters' %>
    <div class="flex overflow-x-scroll gap-2 my-4">
    <%= link_to t('.all'), movies_path, class: 'category bg-white text-gray-600 px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300' %>
    <%= render partial: 'category', collection: @categories %>
  </div>
  <%= turbo_frame_tag 'movies', class: "flex flex-col m-2" do %>
    <%= turbo_frame_tag "movies-#{@pagy.page}", class: 'movies flex flex-col w-full sm:flex-row sm:flex-wrap sm:gap-x-2' do %>
      <%= render partial: 'movie', collection: @movies %>
      <%= turbo_frame_tag "movies-#{@pagy.next}", class: 'movies flex flex-col w-full sm:flex-row sm:flex-wrap sm:gap-x-2', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
    <% end %>
  <% end %>
<% end %>



