<%= turbo_frame_tag "home" do %>
  <%= render partial: 'filters' %>
    <div class="flex overflow-x-scroll gap-2 my-4">
      <%= render(CategoryComponent.new())%>
      <%= render(CategoryComponent.with_collection(@categories))%>
  </div>
  <%= turbo_frame_tag 'movies', class: "flex flex-col m-2" do %>
    <%= turbo_frame_tag "movies-#{@pagy.page}", class: 'movies flex flex-col w-full sm:flex-row sm:flex-wrap sm:gap-x-2' do %>
      <%= render partial: 'movie', collection: @movies %>
      <%= turbo_frame_tag "movies-#{@pagy.next}", class: 'movies flex flex-col w-full sm:flex-row sm:flex-wrap sm:gap-x-2', src: pagy_url_for(@pagy, @pagy.next), loading: :lazy if @pagy.next %>
    <% end %>
  <% end %>
<% end %>



