<h2><%= t('.title') %> </h2>
<% @movies.each do |movie| %>
<div>
  <%= image_tag movie.poster_path.blank? ? 'Image-not-found.png': movie.poster_path %>
  <div class="movie">
    <p><%= movie.title %></p>
    <p><%= movie.original_title %></p>
    <p><%= movie.overview %></p>
    <p><%= movie.poster_path %></p>
    <p><%= movie.original_language %></p>
    <p><%= movie.release_date %></p>
    <p><% movie.categories.each do |category| %>
        <%= category.name %> 
      <% end %>
    </p>
  </div>
  <%= link_to t('common.edit'), edit_movie_path(movie) %>
</div>
<% end %>